[user]
        name = Joel Klabo 
        email = joelklabo@gmail.com 

[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
        editor = mvim
        mergeoptions = --no-ff
        
[merge]
        tool = vimdiff
[alias]
        co = checkout
